table.highlight > tbody > tr:hover {
  background-color: #3498db;
  color: white ;
}

thead {
  background-color: #2980b9;
  color: white ;
}

hr {
  width: 65% ;
}

span {
  font-size:150px;
  line-height:0.6em;
  opacity:0.2 ;
}

.parole {
  margin-top:-50px;
  margin-bottom: 20px ;
  font-style: italic;
  color: white;
}

.background-parole {
  /*background-color: #f8bbd0;*/
  background-color: #2980b9;
  text-shadow:1px 1px 0 #444;
}

.parole > h6 {
  color: rgb(0, 0, 117) ;
  font-style: normal;
}